<web-app>	
<servlet>
<servlet-name>EmiCal</servlet-name>
<servlet-class>EmiCal</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>EmiCal</servlet-name>
<url-pattern>/emi</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>PrintEMI</servlet-name>
<servlet-class>PrintEMI</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>PrintEMI</servlet-name>
<url-pattern>/emi1</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>MonthWise</servlet-name>
<servlet-class>MonthWise</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>MonthWise</servlet-name>
<url-pattern>/monthwise</url-pattern>
</servlet-mapping>


</web-app>